body{
    margin-left: 10vw;
    margin-right: 10vw;
}

/* PLAYER */
#song-title {
    font-size: 3vw;
    font-family: Helvetica, Arial;
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
}
#time {
    font-size: 2vw;
    margin-bottom: 0;
}
hr {
    margin-top: 0;
}
#my-player {
    left: 0%;
    top: 0%;
    position:fixed;
    width:100%;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5%;
    background-color: white;
}

.icon {
    padding-right: 2vw;
    cursor: pointer;
    cursor: hand;
}

/* TABLE */
table {
    margin-top: 25%;
    /* margin-left: 10vw; */
    font-size: 2vw;
}
table thead th {
    border-bottom: 0.1px solid #000;
}

td {
    cursor: pointer;
    cursor: hand;
}

/* PROGRESS BAR */
#myProgress {
    width: 100%;
    background-color: #ddd;
    margin-top: -8px;
    cursor: pointer;
    cursor: hand;
}
#myBar {
    margin: 0;
    width: 0%;
    height: 1px;
    background-color: black;
}
#caret{
    padding-right: 0px;
    margin-left: -6px;
    cursor: pointer;
    cursor: hand;
}
#progressBar{
    margin-top: 1vw;
    margin-bottom: 1vw;
}
